/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 70%;
    margin: auto;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/* Side Bar */

.sidebar {
    position: fixed;
    left: 0;
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture img {
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid #ffeb3b;
}

.menu ul {
    height: 300px;
    margin-bottom: 90px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu ul li a {
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    transition: 300ms;
}

.menu ul li a:hover {
    color: #ffeb3b;
}